header {
    background-color: #ff3131;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(1fr,3);
    grid-template-areas: "h h h";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: start;
    
}

 h2{
    color: #fff;
    
}

img{
    height: 75px;
    margin: 15px 0 0 15px;
    width: auto;
    align-items: center;    
}

a {
padding-left: 15px;
}

